
   .register{
    position: relative;
    z-index: 100;
    /* height: calc(100vh - 15vh - 81px); */
    /* margin-bottom: auto; */
    /* border: 1px solid; */
   }
.register-title{
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
}
.form-check{
  text-align: left;
}
.register-btn{
    background: none;
    /* font-weight: bold; */
    text-align: center;
    border: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-weight: bold;
    background-color: #007cff;
    color: #ffffff;
    padding: 0.25rem 2rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
.register-btn:hover{
  background-color: #000;
  color: #fff;
}


.valid{
  border: 1px solid green;
  border-top: none;
  border-radius: 0.25rem;
}
/* .invalid{
  border: 2px solid red;
  border-top: none;
  border-radius: 0.25rem;
} */
button:disabled{
  opacity: 0.6;
}
.show-password-button{
  margin-top: 6px;
  padding: 3px;
  border-radius: 5px;
}

/* input:invalid{
  border: 1px solid red;
} */
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }


