* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.register {
  position: relative;
  /* border: 1px solid; */
  height: calc(100vh - 12vh - 81px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem 0;
  /* bac  kground-color: #71bef6; */
  padding-top: 50px;
}

.register__warpper {
  position: relative;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  text-align: center;
}
.register__title h2{
  font-size: 2rem;
  font-weight: bold;
}

.register__label {
  /* font-size: 15px; */
  /* border: 2px solid; */
   display: flex;
  justify-content: space-between; 
  gap: 0 1rem;
}
.register__label label{
  font-size: 1.1rem;
  color: #000;
}
.register__label > input {
  /* display: block; */
  /* justify-content: right; */
  width: 250px;
  height: 35px;
  border: 1px solid;
  border-radius: 5px;
}

.links{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.register__signup a{
 background-color: #000;
 color: #fff;
 padding: 0.5rem 1.2rem;
 font-size: 1rem;
 border-radius: 10px;
}

label{
  color: #000;
}
