.sign-up{
    border-radius: 10px;
    font-weight: bold;
    background-color: #0099ff;
    padding: 0.5rem 1.5rem;
    margin-left: 10px;
}
.link{
    color: #fff;
    transition: 0.5s ease-in-out;
}
.link:hover{
    color: #0099ff;
}