.container{
   min-height: calc(100vh - 15vh - 80px);

}
.img-container{
    /* border: 2px solid; */
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img-holder{
    /* border: 3px solid rebeccapurple; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 50%;
    
}
/* .contact-btn{
    background-color: #007cff;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
} */


.contact-btn {
    background: none;
    border: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #007cff;
    color: #ffffff;
    padding: 0 2rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    height: 49.6px;
  }
  .contact-btn:hover {
    background-color: #000;
    color: #fff;
  }