.footer {
  /* position: relative; */
  /* margin-top: 8rem; */
  /* bottom: 0; */
  border: 1px solid;
  height: 15vh;
  background-color: #0099ff;
  /* height: 10vh; */
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
  /* z-index: -999; */
  /* padding: 10px; */
}

.footer__main{
    background-color: #0099ff;
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    /* z-index: 999; */
}
.footer__main h4{
  color: #fff;
  font-weight: bold;
}
.footer__main a {
  color: #fff;
}
.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding-bottom: 1rem; */
}
.links a{
  font-size: 1.2rem;
}

@media screen and (max-width: 300px) {
  .footer__main h4{
    font-size: 0.9rem;
    padding: 0 3px;
  }
  .links a{
    font-size: 1rem;
  }
}

@media screen and (min-width:299px) and (max-width: 600px) {
  .footer__main h4{
    font-size: 1.1rem;
  }
  .links a{
    font-size: 1rem;
  }
}
@media (min-width:599px) and (max-width: 900px) {
  .footer__main h4{
    font-size: 1.3rem;
  }
  .links{
    /* gap: 0px; */
  }
  .links a{
    font-size: 1.1rem;
  }
}