.footer {
  position: relative;
  /* margin-top: 8rem; */
  /* bottom: 0; */
  /* border: 1px solid; */
  height: 15vh;
  background-color: #0099ff;
  /* height: 10vh; */
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
  /* padding: 10px; */
}
.wave {
  position: absolute;
  top: -110%;
  left: 0;
  z-index: 998;  
}
.footer__main{
    background-color: #0099ff;
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    z-index: 999;
}
.footer__main h4{
  color: #fff;
  font-weight: bold;
}
.footer__main a {
  color: #fff;
}
.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding-bottom: 1rem; */
}
.links a{
  font-size: 1.2rem;
}
